// bower:scss
@import "bower_components/sassy-maps/sass/_sassy-maps.scss";
@import "bower_components/breakpoint-sass/stylesheets/_breakpoint.scss";
// endbower

// Vars, Mixins, Etc.
@import "core/all";


.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  @include webfont(14px, $regular);
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

@include breakpoint($bp-tablet) {
  .hero-unit {
    background-color: blue;
  }
}


.test-0 {
  @include webfont(18px, $bold);
  width: 420px;
  height: 24px;
  // font-family: Roboto;
  // font-size: 18px;
  // font-weight: bold;
  line-height: 1.33;
  letter-spacing: 0.5px;
  color: black;
}
