// bower:scss
@import "bower_components/sassy-maps/sass/_sassy-maps.scss";
@import "bower_components/breakpoint-sass/stylesheets/_breakpoint.scss";
// endbower

// Vars, Mixins, Etc.
@import "core/all";

// page elements
.hamburger-menu-container {
  float: left;
  position: relative;
  cursor: pointer;
  width: 18px;
  height: 12px;
  margin: 26px 19px 0 19px;
  &__item {
    display: block;
    height: 2px;
    background-color: $c-white;
  }
  &:before {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 2px;
    background-color: $c-white;
    top: 50%;
    margin-top: -1px;
  }
  &:after {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 2px;
    background-color: $c-white;
    bottom: 0;
  }
}

.main-logo {
  @include webfont(18px, $bold);
  float: left;
  margin: 20px 0 20px 0;
  line-height: 1.33;
  letter-spacing: 0.5px;
  a {
    color: $c-white;
    &:hover {
      text-decoration: none;
    }
  }
}


@include breakpoint($bp-middle) {

}

@include breakpoint($bp-large) {

}

