// bower:scss
@import "bower_components/sassy-maps/sass/_sassy-maps.scss";
@import "bower_components/breakpoint-sass/stylesheets/_breakpoint.scss";
// endbower

// Vars, Mixins, Etc.
@import "core/all";

.main-wrapper-container {
  @include min-width;
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
}

.main-aside-container {
  width: 320px;
  background-color: $c-gray;
}

.main-content-container {
  flex: 1 0;
  margin: 32px 32px 64px 32px;
  border-radius: 8px;
  background-color: $c-white-light;
  box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.05);
}


.main-logo {
  @include webfont(18px, $bold);
  margin: 20px 0 20px 0;
  line-height: 1.33;
  letter-spacing: 0.5px;
  a {
    color: $c-white;
    &:hover {
      text-decoration: none;
    }
  }
}


@include breakpoint($bp-middle) {
  .main-aside-container {
    width: 444px;
  }
}

@include breakpoint($bp-large) {
  .main-aside-container {
    width: 508px;
  }

  .main-content-container {
    margin-right: 0;
  }
}

