@mixin full-width {
  width: 100%;
}

@mixin min-width {
  min-width: 1024px;
  @include breakpoint($bp-large) {
    max-width: 1492px;
    margin-left: auto;
    margin-right: auto;
  }
}

// Fonts
@mixin webfont($size: 16px, $weight: 300, $style: normal) {
  font-family: $roboto;
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
}

// Form elements
@mixin global-button($padding-t-b: 9px, $padding-l-r: 35px, $b-radius: 4px, $bg-color: $button-bg, $font-size: 14px, $color: $c-black-light) {
  @include webfont($font-size, $regular);
  cursor: pointer;
  padding: $padding-t-b $padding-l-r;
  color: $color;
  border-radius: $b-radius;
  background-color: $bg-color;
  box-shadow: $button-bsh;
  border: none;
}

%main-menu-block-active {
  position: absolute;
  content: ' ';
  width: 100%;
  border-bottom: solid $c-gray 2px;
  left: 0;
  bottom: -0.5px;
}

@mixin x-icon ($height: 0px, $width: 0px) {
  position: absolute;
  content: ' ';
  width: $width;
  height: $height;
  top: 50%;
  left: 50%;
  background-color: rgba($c-black, 0.4);
}
