//------------------------------------
//    BREAKPOINTS
//------------------------------------
$bp-middle:                1396px 1659px;
$bp-large:                 1660px;

//------------------------------------
//    FONTS
//------------------------------------
$roboto:     "Roboto", Times, "Trebuchet MS", Ubuntu, serif;
$regular:    400;
$medium:     500;
$bold:       700;

//------------------------------------
//    COLORS
//------------------------------------
$c-white: #ffffff;
$c-black: #000000;

$c-white-light: rgba($c-white, 0.9);
$c-black-light: rgba($c-black, 0.9);

$c-yellow: #ffd840;
$c-green: #26bf8c;

$c-gray: #303030;

$c-gray-light:  rgba(0, 0, 0, 0.05);
$c-gray-dark: rgba(0, 0, 0, 0.1);

// $main-bsh:    0 32px 64px 0 rgba(0, 0, 0, 0.05);
$element-bsh: 0 0 1px 0 rgba(0, 0, 0, 0.4);

$button-bsh: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
$button-bg:  rgba(255, 255, 255, 0.95);
